
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<!-- Header -->
<header style="background: url('http://cdn.metube.id/covers/channels/2jUAaZOLMkyCgoS78LzG.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <div class="site_heading">
                    <div style="padding-top:40px; padding-bottom:60px">
                        <blockquote>
                            <p style="color: black">“The best programmers are not marginally better than merely good ones. 
                                They are an order-of-magnitude better, measured by whatever standard: 
                                conceptual creativity, speed, ingenuity of design, or problem-solving ability.”</p>
                        </blockquote>
                    </div>
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills" style="color: black">
                            - Randall E. Stross
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p>I am a Computer Science graduate student at Oklahoma Christian University
                   with a strong interest in Software design, Algorithm analysis, and Data mining.
                   I am currently working on a content sharing website for designer and aspiring designers.</p>
                <p>
                    In the desire of continual learning I am learning DataSax Cassandra Development,
                    Hadoop Distibuted Systems, and Web Services. In my free time, I work on small projects geared
                    towards sharpening my knowledge on the current technollogies I am learning.
                </p>
                <p>
                    My goal is to be part of the tech community that positively changes people's lives.
                    I want to use my skills in creating products that empower people to do more.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <hr class="star-light">
            </div>
        </div>
    </div>
</section>

