
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayoutPage.cshtml";
}

<!-- Header -->
<header style="background: url('http://cdn.metube.id/covers/channels/2jUAaZOLMkyCgoS78LzG.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-lg-8">
                <!--<img class="img-responsive" src="img/profile.png" alt="">-->
                <div class="site_heading">
                    <h1 style="padding-top:150px; padding-bottom:140px">Olivier Tuyishime</h1>
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills" style="color: black">#Web Developer #User Experience Designer</span>
                    </div>
                    <p style="color: red"><span class="glyphicon glyphicon-alert"></span> SITE UNDER DEVELOPEMNT</p>
                </div>
            </div>
        </div>
    </div>
</header>

@{Html.RenderPartial("_AboutPartialView");}



